.kix-appview-editor-container
  background-color $background !important

.kix-page
  background-color $blue !important

.docs-gm #kix-vertical-ruler
.docs-ruler-background-inner
.docs-gm .docs-horizontal-ruler
.docs-material .goog-toolbar-button
.docs-material .goog-toolbar-combo-button
.docs-material .goog-toolbar-menu-button
.docs-material #docs-toolbar-wrapper
.kix-print-block.kix-page-header
.kix-page-content-wrapper
  background-color $blue !important

.docs-gm .goog-toolbar-separator.goog-inline-block
  border-left-color $light-black

.docs-gm #docs-toolbar-wrapper
  border-top-color $light-black
  border-bottom-color $light-black

span.goog-inline-block.kix-lineview-text-block
span.kix-wordhtmlgenerator-word-node
  color $white !important

.docs-gm .docs-material .docs-icon-img::before
  filter brightness(10%)

.docs-material .goog-toolbar-combo-button-input
.docs-gm .docs-menubar .goog-control
  color $white

.docs-material .goog-toolbar-button
.docs-material .goog-toolbar-menu-button
  color $white

a:visited
  color #61c

a:link
  color #15c
