#formula-bar
.cell-input
  background-color $background

[id*="-fixed"] > div:nth-child(2)
[class*="grid-table-container"] > div.grid-table-container.fixed-table-container
.docs-gm div.column-headers-background
.docs-gm th.column-headers-background
.docs-gm div.row-headers-background
.docs-gm th.row-headers-background
  background-color $background !important
  color $white !important
