header {
  background-color: $background !important;
}

#docs-chrome,
.docs-material #docs-header .docs-titlebar-buttons {
  background-color: $blue;
}

.docs-title-input {
  background-color: $blue;
  border: 0 !important;
  border-bottom: 2px solid transparent !important;
  color: $white;
}

.docs-gm .docs-title-input:hover {
  border-color: transparent;
}

.docs-gm .docs-title-input:focus {
  border: 0 !important;
  border-bottom: 2px solid $gray-blue !important;
  border-radius: 0 !important;
  color: $bold-text;
  margin: 0;
}

.docs-parent-collections-container {
  padding-top: 0;
}

.docs-gm #docs-titlebar-share-client-button .jfk-button {
  background: $gray-blue;
  color: $white;
  transition: all ease-in-out 0.15s;
}

.docs-gm #docs-titlebar-share-client-button .jfk-button:hover {
  background: lighten($gray-blue, 5%);
  color: $white;
}

.apps-share-sprite {
  filter: brightness(75%);
}

.docs-parent-collections-container-prefix,
.docs-parent-collections-container-text {
  color: $gray-blue;
}
